.subtitle {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  opacity: 0.7;
  margin: 0rem;
  position: relative;
  overflow: hidden;
  color: #c0be8e;
}

.title {
  font-size: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  opacity: 0.85;
  margin: 0;
  position: relative;
  overflow: hidden;
  color: #333;
  margin-bottom: 2rem;
}