.about {
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  width: 70%;
}

.about-subtitle {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  opacity: 0.7;
  margin: 0rem;
  position: relative;
  overflow: hidden;
  color: #c0be8e;
  margin-bottom: -0.8rem;
}

.about-title {
  font-size: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  opacity: 0.85;
  margin: 0;
  position: relative;
  overflow: hidden;
  color: #333;
  margin-bottom: 5rem;
}