/* @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&display=swap');


/* Alegreya, Chiron Sung HK */
:root {
  /* --font-main: "Alegreya", serif; */
  --font-main: "Chiron Sung HK", serif;
  /* --font-main: "Fira Sans", serif; */
}


html, body #root{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: var(--font-main);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* this pushes footer to bottom */
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
