html, body #root{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; /* fixes dark strip */
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* this pushes footer to bottom */
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
