.gallery {
  font-family: var(--font-main);
  background-color: #fff;
  background-image: url('/public/images/mainbg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: contain;
  
  /* make it fill viewport */
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4rem;
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

