/* =============== CONTENT =============== */
.main {
  font-family: var(--font-main);
  background-color: #fff;
  background-image: url('/public/images/mainbg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: contain;

  /* Make layout fill viewport */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Push footer to bottom if content is short */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}
.content-section {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  font-family: var(--font-main);
}